body {
    font-family: Arial, sans-serif;
    background-color: #212127;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.stopwatch-container {
    text-align: center;
    background-color: #616f34;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(46, 43, 43, 0.1);
}

.stopwatch-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #0c0b0b;
}

.display {
    font-size: 5em; 
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    margin: 0 auto;
}

.controls button {
    background-color: #1b1e1b;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #7d8c7e;
}

.laps {
    margin-top: 30px;
}

.laps ul {
    list-style-type: none;
    padding: 0;
}

.laps ul li {
    background-color: #5396b0;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0 , 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 1.5em;
    text-align: center;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}